# === Python / Flask ===
.venv/
__pycache__/
*.pyc
*.pyo
*.pyd
*.db
instance/
.env
.sqlite3
test1.py

# === macOS ===
.DS_Store
**/.DS_Store

# === IDEs / Editors ===
.vscode/
.idea/

# === Logs / Temp ===
*.log
*.tmp

