{% extends "base.html" %}

{% block title %}Contact - My Portfolio{% endblock %}

{% block content %}
<!-- Contact Form -->
 <section id="contact">
    <h2>Contact Me</h2>
    <form id="contact-form" method="post" action="{{ url_for('contact') }}">
        <!-- NAME -->
        <div class="mb-3">
            <label for="name" class="form-label">Name:</label>
            <input type="text" class="form-control" name="name" required>
        </div>
        <!-- EMAIL -->
        <div class="mb-3">
            <label for="email" class="form-label">Email:</label>
            <input type="email" class="form-control" name="email" required>
        </div>
        <!-- MESSAGE -->
        <div class="mb-3">
            <label for="message" class="form-label">Message:</label>
            <textarea name="message" rows="5" required></textarea>
        </div>
        <button type="submit" class="btn btn-primary">Submit</button>
    </form>
 </section>

 {% endblock %}

 